.gearLarge {
  position: absolute;
  transform: rotate(180deg) scale(0.8) translateX(20%) translateY(5%);
  pointer-events: none;
}

.gearMid {
  position: absolute;
  transform: rotate(0deg) scale(0.55) translateX(0%) translateY(100%);
  pointer-events: none;
}

.gearSmall {
  position: absolute;
  transform: rotate(30deg) scale(0.36) translateX(0%) translateY(-110%);
  pointer-events: none;
}
